@import "./variables";
@import "./mixins";

.excel__toolbar {
  z-index: 100;
  position: fixed;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  background-color: #fff;
  display: flex;
  .excel__header__buttons {
    @include button(green);
  }
}
